
html{
    scroll-behavior: smooth;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main" 
    "footer"; 
    margin: 0px;
    background-color: black;
}

.installerbody{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "aside main" 
    "footer footer"; 
    margin: 0px;
    background-color: black;
}

header{
    grid-area: header;
    background-color: rgba(33, 33, 33, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    position: sticky;
    top: 0;
    min-height: 20px;
    max-height: 20px;
    z-index: 2
}

header > a{
    margin-left: 50px;
    font-size: 12px;
}

.toolbar > a{
    color: rgba(255, 255, 255, 0.642);
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
}

.toolbar > a:hover{
    color: white;
    text-decoration: none;
}

main{
    grid-area: main;
    text-align: left;
    min-height: 83vh;
    text-align: center;
    color: white;
}

aside{
    background-color: rgba(17, 17, 17, 0.8);
    color: white;
}

footer{
    grid-area: footer;
    background-color: rgb(33, 33, 33, 0.8);
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

main > p, h1{
    margin-left: 10px;
}

footer > p{
    margin-right: 20px;
    text-align: right;
}

.alert {
    padding: 20px;
    background-color: #303030;
    color: white;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  

  .closebtn:hover {
    color: rgb(145, 145, 145);
  }